
.task-list-container {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea en pantallas pequeñas */
  justify-content: space-around; /* Ajusta el espaciado entre los elementos */
  
    margin: 0;
    padding: 0;
  
}

  
  .completed {
    
    
    text-decoration: line-through 3px;
  }
  
  .task-item-text {
    text-decoration: none;
  }
 